<div class="flex-7"></div>
<div class="flex flex-col flex-5 border-t border-white/20 bg-gray-700 px-4 py-2">
    <div class="text-white">
        <span class="text-sm text-neutral-400">{{ product().proveedor }}</span>
        <p class="text-md font-semibold">{{ product().nombre }}</p>
        <span class="text-sm text-neutral-400">4.8</span>
    </div>
    <div class="flex justify-between">
        <div class="flex flex-col">
            <div class="flex gap-2 items-center">
                <span class="text-white text-xl font-semibold">${{ product().precio }}</span>
                <!-- <span class="text-sm font-md line-through">$3800</span> -->
            </div>
            <span class="text-sm"></span>
        </div>
        <div class="flex gap-2">
            <div class="relative bg-red-600 text-gray-50 h-10 w-10 rounded-lg cursor-pointer"
                (click)="onDelete()"
            >
                <svg lucideTrash2 size="20" class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2"></svg>
            </div>
            <div class="relative bg-blue-600 text-gray-50 h-10 w-10 rounded-lg cursor-pointer">
                <svg lucideSquarePen size="20" class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2"></svg>
            </div>
        </div>
    </div>
</div>
