<div class="bg-gray-700 p-3 vh-100 border-white/20 border-1 text-gray-50 rounded-xl">
  <ul class="nav flex-column space-y-4">
    <li class="nav-item">
      <a class="nav-link">Opción 1</a>
    </li>

    <li class="nav-item">
      <a class="nav-link">Opción 2</a>
    </li>

    <li class="nav-item">
      <a class="nav-link">Opción 3</a>
    </li>

    <li class="nav-item">
      <a class="nav-link">Opción 4</a>
    </li>

    <li class="nav-item">
      <a class="nav-link">Opción 5</a>
    </li>

    <li class="nav-item">
      <a class="nav-link">Opción 6</a>
    </li>

    <li class="nav-item">
      <a class="nav-link">Opción 7</a>
    </li>

    <li class="nav-item">
      <a class="nav-link">Opción 8</a>
    </li>

    <li class="nav-item">
      <a class="nav-link">Opción 9</a>
    </li>

    <li class="nav-item">
      <a class="nav-link">Opción 10</a>
    </li>

    <li class="nav-item">
      <a class="nav-link">Opción 11</a>
    </li>
  </ul>
</div>
